<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-2 py-5">
        <div class="info-container">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="resume-container my-3">
                <a class="cv-ic">
                  <i class="fas fa-address-card fa-lg mr-3 fa-2x"> </i>
                </a>
                <p style="display: inline;" class="mr-3"><a href="">Thao Trinh's Resume</a></p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="github-container my-3">
                <a class="github-ic" href="https://github.com/jtrinh21">
                  <i class="fab fa-github fa-lg mr-3 fa-2x"> </i>
                </a>
                <p style="display: inline;" class="mr-3"><a href="https://github.com/jtrinh21">Thao Trinh's Github</a></p>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="linkedin-container my-3">
                <a class="li-ic" href="https://www.linkedin.com/in/jtrinh21/">
                  <i class="fab fa-linkedin fa-lg mr-3 fa-2x"> </i>
                </a>
                <p style="display: inline;" class="mr-3"><a href="https://www.linkedin.com/in/jtrinh21/">Thao Trinh's
                    LinkedIn</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>