<div class="container">
    <h1 class="text-center">SIGN IN</h1>
    <p class="text-center">Become a Member — you'll enjoy exclusive deals, offers, invites and rewards.</p>
    <form class="mt-4" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" ngModel name="email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

            <label for="password" class="mt-3">Password</label>            
            <input type="password" class="form-control" id="password" ngModel name="password" required>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="checkbox">
            <label class="form-check-label" for="checkbox">Keep me signed in!</label>
        </div>
        <p class="form-check-label text-right mb-3">Forget your password?</p>

        <button class="form-control btn btn-danger">SIGN IN</button>
        <button class="form-control btn btn-outline-danger mt-4" (click)="openSignup()">BECOME A MEMBER</button>

    </form>
</div>