<!-- display products -->
<div class="row mt-5">

  <!-- Side Bar -->
  <div class="col-md-3 col-sm-4">
    <h3 class="mx-5 mb-5">Hot Artist</h3>
    <p class="mx-5" id="name" *ngFor="let artist of artists">{{artist}}</p>

  </div>

  <!-- Product List -->
  <div class="col-md-9 col-sm-8">
    <div>
      <app-product-item [page]='page'></app-product-item>
    </div>
  </div>
</div>

<!-- [albums]='albums' -->

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <button class="page-link" [disabled]='+page<2' (click)="onPrevious()">Previous</button>
    </li>
    <li class="page-item"><button class="page-link" (click)="onChangePage(+page+1)">{{+page+1}}</button></li>
    <li class="page-item"><button class="page-link" (click)="onChangePage(+page+2)">{{+page+2}}</button></li>
    <li class="page-item"><button class="page-link" (click)="onChangePage(+page+3)">{{+page+3}}</button></li>
    <li class="page-item">
      <button class="page-link" (click)='onNext()'>Next</button>
    </li>
  </ul>
</nav>