<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#"><i class="fas fa-record-vinyl"></i>verCDs</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mr-sm-2" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Explores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shopping Cart</a>
            </li>
        </ul>

        <div class="form-container">

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control ml-sm-5 mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger my-2 my-sm-4" type="submit">Search</button>
            </form>

        </div>

    </div>

</nav>