<div class="row">
    <div class="col-md-4 col-sm-6 text-center mb-3 pt-3" id="productbox" *ngFor="let album of albums| filter:searchInput;" >
        <img [routerLink]="[album.id, album.name, album.artist['name']]"  class="img-thumbnail mb-3" src="{{album.image}}">
        <div class="row">
            <div [routerLink]="[album.id, album.name, album.artist['name']]" class="col-sm-12" style="height: 50px;">
                <span class="font-weight-bold">{{album.name}}</span>
            </div>
            <div class="col-sm-12">
                <p>Price: {{album.price | currency: 'USD'}}</p>
            </div>
            <div class="col-sm-12">
                <div class="btn btn-outline-danger mb-5 w-50" (click)="addItemToCart(album.id)">Add To Cart</div>
            </div>
        </div>
    </div>
</div>

