<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 text-center">
            <img class="img-responsive w-100" src="{{album['image']}}">
        </div>
        <div class="col-md-5 col-xs-12 ml-5">
            <h1 class="my-5" style="font-size: 2rem;">{{album['artist']}} - {{album['name']}}</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row" style="border: none;">Price</th>
                        <td style="border: none;">USD {{album['price'] | currency: 'USD'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Listeners</th>
                        <td>{{album['listeners']}}</td>
                    </tr>
                    <tr class="py-5">
                        <th scope="row">Play Counts</th>
                        <td>{{album['playcount']}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Qty <span style="color: red;">*</span></th>
                        <td>
                            <select class="form-control" style="width: 60px;height: 30px;" id="state" name="state"
                                [(ngModel)]="selectedOption" required>
                                <option *ngFor="let o of options">
                                    {{o.name}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Total</th>
                        <td>{{total | currency: 'USD'}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="mt-5">
                <button class="btn btn-danger ml-2" (click)="getTotal()">ADD TO CART</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item font-weight-bold mt-5 list-group-item-light">SUMMARY</li>
                    <li class="list-group-item mb-5 my-3" style="border: none;     line-height: 2em;
                    ">{{album['wiki']}}</li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item font-weight-bold list-group-item-light my-3">TRACK LIST</li>
                    <li class="list-group-item" style="border: none;" *ngFor="let track of album['tracks']">
                        {{track['name']}}</li>
                </ul>
            </div>

        </div>
    </div>

</div>