<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 text-center">
            <img class="img-responsive w-100" src="{{album['image']}}">
        </div>
        <div class="col-md-5 col-xs-12 ml-5" >
            <h2>{{album['artist']}} - {{album['name']}}</h2>
            <h3 class="my-4" style="color: red">USD {{album['price'] | currency: 'USD'}}</h3>

            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <span class="font-weight-bold">Listeners: </span>
                    <span>{{album['listeners']}}</span>
                </div>
                <div class="col-md-6 col-xs-12">
                    <span class="font-weight-bold mt-5">Play Count: </span>
                    <span>{{album['playcount']}}</span>
                </div>
            </div>

            <!-- style="border: 1px solid gray;" -->
            <div class="container mt-4 pb-4" style="border: 1px solid gray;">
                <ul class="list-group">
                    <li class="list-group-item font-weight-bold mt-3 list-group-item-light" style="border: none;">Qty</li>

                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <li class="list-group-item mb-5 my-3" style="border: none;">{{album['name']}}
                            </li>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="input-group inline-group mt-3">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-danger btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input class="form-control quantity" min="0" name="quantity" value="1" type="number">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-danger btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <li class="list-group-item font-weight-bold list-group-item-light" style="border: none;">Total</li>
                    <div class="row mt-4">
                        <div class="col-md-6 col-xs-6">
                            <h3 class="ml-3" style="color: red;">{{39.99 | currency: 'USD'}}</h3>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <button class="btn btn-danger ml-1">ADD TO CART</button>
                        </div>
                    </div>

                </ul>
            </div>  
            
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item font-weight-bold mt-5 list-group-item-light">SUMMARY</li>
                    <li class="list-group-item mb-5 my-3" style="border: none;">{{album['wiki']}}</li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item font-weight-bold list-group-item-light my-3">TRACK LIST</li>
                    <li class="list-group-item" style="border: none;" *ngFor="let track of album['tracks']">
                        {{track['name']}}</li>
                </ul>
            </div>

        </div>
    </div>

</div>