.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/1024px-User_icon_2.svg.png");
  background-size: cover;
}
