<div class="container mt-5 py-5 px-5" style="background-color: #faeee7;">
    <div class="row">
        <div class="col-md-3">
            <h4 class="font-weight-bold">My Account</h4>
        </div>
        <div class="col-md-9">
            <h3 class="font-weight-bold">ACCOUNT INFORMATION</h3>
            <h4>First Name: {{firstname}}</h4>
            <h4>Last Name:</h4>
            <h4>Email Address:</h4>
            <h4>Gender: </h4>
            <h4>Date of Birth:</h4>
            <h4>Address: </h4>
        </div>
    </div>
</div>