<div class="container-fluid my-5 pl-5">
    <h1 style="font-size: 4.5rem; color: #33272a;">{{userInfo['firstname']}} {{userInfo['lastname']}}</h1>
    <p class="mt-5 ml-2" style="font-size: 2rem;">{{userInfo['zipcode']}}</p>
</div>

<!-- Profile -->
<div class="container-fluid my-5 py-5 px-5" style="background-color: #faeee7;">
    <div class="row">
        <div class="col-md-3">
            <h4 class="font-weight-bold">My Account</h4>
            <h4 class="font-weight-bold">Address Book</h4>
            <h4 class="font-weight-bold">Payment Details</h4>
            <h4 class="font-weight-bold">Orders</h4>
        </div>
        <div class="col-md-9">
            <h3 class="font-weight-bold">ACCOUNT INFORMATION</h3>
            <h4>First Name: {{userInfo['firstname']}}</h4>
            <h4>Last Name: {{userInfo['lastname']}}</h4>
            <h4>Email Address: {{userInfo['email']}}</h4>
            <h4>Gender: </h4>
            <h4>Date of Birth: {{userInfo['dateofbirth']}}</h4>
            <h4>Address: {{userInfo['zipcode']}}</h4>
        </div>
    </div>
</div>