.rectangle-container1 {
    background-color: #FAEEE7;
}

p {
    line-height: 2em;
}

img {
    width: 100%;
    height: 100%;
}

.paragraph-container2 {
    background-color: #FAEEE7;
    height: 100%;
}

.rectangle-container3 {
    background-color: #FAEEE7;
}

.arrow2, .arrow1 {
    font-size: 30px;
    color: #ff8ba7;
    cursor: pointer;
}


.key3 {
    font-size: 20px;
    color: #ff8ba7;
    cursor: pointer;
}

p, span {
    color: #594a4e;    
}

p {
    font-size: larger;
}